body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

@media screen and (max-width: 640px) {
    .count-cards{
         display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
  .btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .all{
    margin-right: 0;
  }
  .container-btn{
      display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    gap: 8px;
  
  }
}